*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Titillium";
    src: url("./Titillium_Web/TitilliumWeb-Regular.ttf");
}
@font-face {
    font-family: "Titillium bold";
    src: url("./Titillium_Web/TitilliumWeb-Bold.ttf");
}
body{
    background-image: linear-gradient(180deg, #65736e 0, #586d68 12.5%, #496763 25%, #37605d 37.5%, #1f5959 50%, #005156 62.5%, #004a54 75%, #004453 87.5%, #003d52 100%);
    min-height: 100vh;
    font-family: "Titillium";
}

header{
    font-size: 1.5rem ;
}

h1{
    
    width: 99vw;
    padding-left: 1%;
    font-family: "Titillium bold";
    color: whitesmoke ;
}

form{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form  button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #004453;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background-color: #004453 ;
}
form button i:hover{
    color: whitesmoke;
}

.todo-container{
    width: 100%;


}
.todo-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    list-style: none;
}

.todo{
    margin: 0.5rem;
    background-color: whitesmoke;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30%;
    transition: all 0.5 ease;
}

/*permet de pousser les éléments grâce au min-width ci-dessus*/
.todo li{
    flex: 1;
}

.complete-btn, .trash-btn{
    font-size: 1.2rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    background: #e73e3e;
}
.trash-btn:hover{
    background: red;
}

.complete-btn{
    background: #35e535;
}
.complete-btn:hover{
    background: green;
}
.todo-item{
    padding: 0rem  0.5rem;
}

.fa-trash-can, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    transition-duration: 200ms;
    opacity: 0;
}

/*Filtre*/
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;  
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #003d52;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    color: whitesmoke;
    background: #004453;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after{
    background: whitesmoke;
    color: #004453;
}